/*--------------------------------------------------
W E B S O L U T E
--------------------------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline;} 
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;} 
blockquote, q {quotes:none;} blockquote:before, blockquote:after, q:before, q:after {content:""; content:none;} 
ins {background-color:#ff9; color:#000; text-decoration:none;} 
mark {background-color:#ff9; color:#000; font-style:italic; font-weight:bold;} 
del {text-decoration:line-through;} 
abbr[title], dfn[title] {border-bottom:1px dotted; cursor:help;} 
table {border-collapse:collapse; border-spacing:0;} 
hr {display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0;} 
input, select {vertical-align:middle;} 
body {font:13px/1.231 sans-serif; *font-size:small;} 
select, input, textarea, button {font:99% sans-serif;} 
pre, code, kbd, samp {font-family:monospace, sans-serif;} 
html {-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;}
a:hover, a:active {outline:none;} 
ul, ol {margin-left:2em;} 
ol {list-style-type:decimal;} 
nav ul, nav li {margin:0; list-style:none; list-style-image:none;} 
small {font-size:85%;} 
strong, th {font-weight:bold;} 
td {vertical-align:top;} 
sub, sup {font-size:75%; line-height:0; position:relative;} 
sup {top:-0.5em;} 
sub {bottom:-0.25em;} 
pre {white-space:pre; white-space:pre-wrap; word-wrap:break-word; padding:15px;} 
textarea {overflow:auto;} 
.ie7 legend {margin-left:-7px;} 
input[type="radio"] {vertical-align:text-bottom;} 
input[type="checkbox"] {vertical-align:bottom;} 
.ie7 input[type="checkbox"] {vertical-align:baseline;} 
label, input[type="button"], input[type="submit"], input[type="image"], button {cursor:pointer;} 
button, input, select, textarea {margin:0;}
input:invalid, textarea:invalid {border-radius:1px; -moz-box-shadow:0px 0px 5px red; -webkit-box-shadow:0px 0px 5px red; box-shadow:0px 0px 5px red;} 
.no-boxshadowinput:invalid, .no-boxshadow textarea:invalid {background-color:#f0dddd;}
::-moz-selection{background:#3399FF; color:#fff; text-shadow:none;}
::selection {background:#3399FF; color:#fff; text-shadow:none;}
a:link {-webkit-tap-highlight-color:#fff;} 
button {width:auto; overflow:visible;} 
.ie7 img {-ms-interpolation-mode:bicubic;} 
body, select, input, textarea {color:#444;} 
h1, h2, h3, h4, h5, h6 {font-weight:bold;} 
.nocallout {-webkit-touch-callout:none;} 
.ellipsis {text-overflow:ellipsis; overflow:hidden; white-space:nowrap;} 
.hidden {display:none; visibility:hidden;} 
.invisible {visibility:hidden;} 
.visuallyhidden {border:0; clip:rect(0 0 0 0); height:1px; margin:-1px; overflow:hidden; padding:0; position:absolute; width:1px;} 
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {clip:auto; height:auto; margin:0; overflow:visible; position:static; width:auto;} 
.clearfix:after {clear:both; content:"."; display:block; font-size:0; height:0; line-height:0; visibility:hidden;} 
.clearfix {display:block; zoom:1;} 


/*--------------------------------------------------
general
--------------------------------------------------*/
a span {cursor:pointer;} 
.cf:after {clear:both; content:"."; display:block; font-size:0; height:0; line-height:0; visibility:hidden;} 
.cf {display:block; zoom:1;} 
.clear {clear:both;} 
.lfloat {float:left;} 
.rfloat {float:right;} 
.tal {text-align:left;} 
.tac {text-align:center;} 
.tar {text-align:right;} 
.pas {padding:10px;} 
.pam {padding:15px;} 
.pal {padding:20px;} 
.pts {padding-top:10px;} 
.ptm {padding-top:15px!important;} 
.ptl {padding-top:20px;} 
.ptxl {padding-top:30px!important;} 
.prs {padding-right:10px;} 
.prm {padding-right:15px;} 
.prl {padding-right:20px;} 
.pbs {padding-bottom:10px;} 
.pbm {padding-bottom:15px;} 
.pbl {padding-bottom:20px!important;} 
.pls {padding-left:10px;} 
.plm {padding-left:15px;} 
.pll {padding-left:20px;} 
.phs {padding-left:10px; padding-right:10px;} 
.phm {padding-left:15px; padding-right:15px;} 
.phl {padding-left:20px; padding-right:20px;} 
.pvs {padding-top:10px; padding-bottom:10px;} 
.pvm {padding-top:15px; padding-bottom:15px;} 
.pvl {padding-top:20px; padding-bottom:20px;} 
.mas {margin:10px;} 
.mam {margin:15px;} 
.mal {margin:20px;} 
.mts {margin-top:10px;} 
.mtm {margin-top:15px;} 
.mtl {margin-top:20px;} 
.mrs {margin-right:10px;} 
.mrm {margin-right:15px;} 
.mrl {margin-right:20px;} 
.mbs {margin-bottom:10px!important;} 
.mbm {margin-bottom:15px;} 
.mbl {margin-bottom:20px!important;} 
.mls {margin-left:10px;} 
.mlm {margin-left:15px;} 
.mll {margin-left:20px;} 
.mhs {margin-left:10px; margin-right:10px;} 
.mhm {margin-left:15px; margin-right:15px;} 
.mhl {margin-left:20px; margin-right:20px;} 
.mvs {margin-top:10px; margin-bottom:10px;} 
.mvm {margin-top:15px; margin-bottom:15px;} 
.mvl {margin-top:20px; margin-bottom:20px;} 
.mrs {margin-right:10px;} 
.mrm {margin-right:15px;} 
.mrl {margin-right:15px;} 
.mls {margin-left:10px;} 
.mlm {margin-left:15px;} 
.mll {margin-left:15px;} 
.mts {margin-top:10px;} 
.mtm {margin-top:15px;} 
.mtl {margin-top:15px;} 
.mbs {margin-bottom:10px;} 
.mbm {margin-bottom:15px;} 
.mbl {margin-bottom:15px;} 
.fss {font-size:9px;} 
.fsm {font-size:12px;} 
.fsl {font-size:16px;} 
.fsxl {font-size:24px;} 
.fsxxl {font-size:70px;} 
.fwn {font-weight:normal;} 
.fwb {font-weight:bold;} 
.fbg {display:block; text-indent:-999em; overflow:hidden; background-repeat:no-repeat; text-align:left; direction:ltr;} 
.vam {vertical-align:middle;} 
.vab {vertical-align:bottom;} 
.vat {vertical-align:top;} 
.ttu {text-transform:uppercase;} 
.ttl {text-transform:lowercase;} 
.block {display:block;} 
.inline {display:inline;}