/*small screens less than 400px*/



/*housekeeping*/

*{
    margin:0px;
    padding:0px;

}

header,section,footer,aside,nav,article,hgroup{
    display: block;
}

/*end of housekeeping*/



body{
    background-image:url("../images/background.jpg");
    background-repeat:no-repeat;
    background-position:right top;
    background-attachment: fixed;
}


header{
    margin-top:0px;
    background-color:rgba(255,255,255,0.5);
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
    color:darkblue;

}

.col-sm-1 img{
    width:100px;
    height:100px;
}

.btn.btn-default.dropdown-toggle{
    margin-top:6px;
    background-color:#222222;
    color:white;
}




/*carosol*/

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    height:300px;
    width:100%;
    margin: auto;
}


/*end of carosol*/
.white{
    color:white;
}



/*contact page*/
.center {
    margin:auto;
    width: 90%;
    padding: 10px;
}
.map{
    display:none;
}
/*end of contact page*/








section{
    float:right;
    width:100%;
    background-color:rgba(02, 12, 131,0.2);
    color:#ffffff;
}



aside{
    display:none;
}



footer {
    clear: both;
    background-color: rgba(0, 12, 11, 0.8);
    height:400px;
    width: 100%;
}
footer ul li{
    list-style: none;
}
footer h3{
    color:white;
}
.desc a{
    color:white;
    font-family: "Consolas", "Menlo", "Courier", monospace;
}

