/*small screens less than 400px*/
body{
    background-image:url("../images/background.jpg");
    background-repeat:no-repeat;
    background-position:right top;
    background-attachment: fixed;
}


header{
    margin-top:0px;
    background-color:rgba(255,255,255,0.5);
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
    color:darkblue;

}


.btn.btn-default.dropdown-toggle{
    margin-top:6px;
    background-color:#222222;
    color:white;
}




/*carosol*/

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    height:300px;
    width:100%;
    margin: auto;
}


/*end of carosol*/




section{
    float:right;
    width:100%;
    background-color:rgba(02, 12, 131,0.2);
    color:#ffffff;
}



    aside{
        display:none;
    }



footer {
    clear: both;
    background-color: rgba(0, 12, 11, 0.5);
    height:400px;
    width: 100%;
}





